* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    height: max-content;
    width: auto;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(194, 187, 187);
    padding: 236.5px;
}

h1 {
    font-size: 70px;
    letter-spacing: 3px;
    margin-bottom: 40px;
}

ul {
    list-style-type: none;
    font-size: 40px;
}

li {
    padding: 10px;
}

a {
    text-decoration: none;
    color: rgb(100, 25, 25);
    cursor: pointer;
}

a:hover {
    font-size: 50px;
    color: white;
}